.container {
    background-color: lightcoral;
    margin: 10px;
}

.jumbotron-text-center {
    background-color: palegreen;
}

#mars-news {
    padding: 20px;
    margin: 10px;
    margin-left: 20px;
}

#featured_image {
    width: 700px;
    height: 650;
}

#mars_weather {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

#valles_marineris {
    width: 4500px;
    height: 4500px;
    padding: 5px;
    margin: 5px;
}

#cerberus {
    width: 4500px;
    height: 450px;
    padding: 5px;
    margin: 5px;
}

#schiaparelli {
    width: 450px;
    height: 450px;
    padding: 5px;
    margin: 5px;
}

#syrtis-major {
    width: 450px;
    height: 450px;
    padding: 5px;
    margin: 5px;
}

#facts-table {
    width: 400px;
    height: 450px;
    padding: 20px;
    margin: 5px;
}